<%- include('partials/header') %>
    <%- include('partials/homenavbar') %>

        <body>
            <br>
            <div class="container">
                <hr>
                <div class="jumbotron form-control bg-light ">

                    <h1 class="display-4">Bem-vindo!</h1>

                    <p class="lead">Este é um simples blog do guia do Programador Formação Node.JS</p>

                    <hr class="my-4">

                    <p>Aqui a descrição detalhada</p>

                    <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais aqui</a>

                </div>

                <% articles.forEach(article=> { %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
                        </div>
                    </div>
                    <br>
                    <% }) %>

                        <div class="row">
                            <div class="col col-md-12">
                                <a style="float: right;" href="/articles/page/2">Next >></a>
                            </div>
                        </div>
                        <hr>
            </div>
        </body>

        <%- include('partials/footer') %>